@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400;600;&display=swap');

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(30, 6%, 93%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;

}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200;
  color: #000000;
  letter-spacing: -0.005em;
}

h2 {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  color: #000000;
  letter-spacing: -0.005em;
  margin: 2rem 0 1rem 0;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  letter-spacing: -0.005em;
  margin: 1.5rem 0 0.5rem 0;
  
}

li {
  font-size: 0.8rem;
  font-weight: 200;
  color: #000000;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

p {
  font-size: 0.8rem;
  font-weight: 200;
  color: #000000;
  font-family: sans-serif;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.page-container {
  max-width: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
}