@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(30, 6%, 93%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200;
  color: #000000;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  letter-spacing: -0.005em;
}